@font-face {
    font-family: 'sansation';
    src:url('\Sansation-Regular.woff');
}
@keyframes buttonAni{
    0%{box-shadow:0px 0px 16px 0px rgba(0, 0, 0, 0);}
    100%{box-shadow:0px 0px 16px 0px rgba(0, 0, 0, 0.4);}
}
.back{
    font-family: 'sansation';
    background-image: linear-gradient(90deg,#f8e356,#ff4f8b,#e3b1f6);
    animation-name: 'ani';
    animation-duration: 2s;
}
.frame{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    height: 500px;
}
.footer{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    font-size: 12px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0%;
    padding: 1px;
}
.buttons{
    font-size: 15px;
    font-family: 'sansation';
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    cursor: pointer;
    
}
.buttons:hover{
    font-size: 15px;
    font-family: 'sansation';
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    cursor: pointer;
    box-shadow:0px 0px 16px 0px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}
.buttons:active{
    background-color: rgb(218, 218, 218);
    font-size: 15px;
    font-family: 'sansation';
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    cursor: pointer;
    box-shadow:0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.input{
    margin-bottom: 10px;
    border: solid gray 1px;
}